<div class="container-fluid" style="background-color: #cecece;   background-image: url('../../assets/img/55761.jpg'); /* Adjusted path */
background-size: cover;
background-position: center;" >
  <div class="row">
    <!-- Sidebar -->
    <div class="col-sm-auto bg-light sticky-top">
      <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
        <a routerLink="/dashboard" title data-bs-toggle="tooltip" data-bs-placement="right"
          data-bs-original-title="Icon-only">
          <img src="https://images.healthshots.com/healthshots/en/uploads/2020/12/08182549/positive-person.jpg"
            height="60px" width="60px" class="rounded-circle mt-3">
          <span style="color: black; font-weight: 600; font-size: 27px; top: 14px; left: 12px; position: relative;">
            Tanu </span>
        </a>
        <ul
          class="nav nav-pills nav-flush flex-sm-column mt-5 flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
          <li class="nav-item">
            <a routerLink="/dashboard" style="color: grey;" title data-bs-toggle="tooltip" data-bs-placement="right"
              data-bs-original-title="Home">
              <i class="bi-house fs-3"></i>&nbsp; Dashboard
            </a>
          </li>
          <li>
            <a routerLink="/addStudent" class="nav-link py-3 px-3 bg-light" title data-bs-toggle="tooltip"
              data-bs-placement="right" data-bs-original-title="Dashboard">
              <i class="bi bi-person-plus fs-3"></i>&nbsp;Add Student
            </a>
          </li>
          <li>
            <a routerLink="/studentList" class="nav-link py-3 px-3 bg-light" title data-bs-toggle="tooltip"
              data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi-people fs-3"></i>&nbsp;Student List
            </a>
          </li>
        
          <li>
            <a routerLink="#" class="nav-link py-3 px-3 bg-light" title data-bs-toggle="tooltip"
              data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi-journal-text fs-3"></i>&nbsp;Add Courses
            </a>
          </li>
          <li>
            <a routerLink="/actionMark" class="nav-link py-3 px-3 bg-light" title data-bs-toggle="tooltip"
              data-bs-placement="right" data-bs-original-title="Orders" data-bs-original-title="addMark">
              <i class="bi bi-cloud-plus fs-3"></i> &nbsp;Add Marks
            </a>
          </li>
          <li>
            <a routerLink="#" class="nav-link py-3 px-3 bg-light" title data-bs-toggle="tooltip"
              data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi-file-earmark-post fs-3"></i>&nbsp;Add Post
            </a>
          </li>
          <li>
            <a routerLink="#" class="nav-link py-3 px-3 bg-light" title data-bs-toggle="tooltip"
              data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi bi-clipboard fs-3"></i>&nbsp;Notice
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bg-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="https://i.imgur.com/hczKIze.jpg" width="40" class="rounded-circle">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" (click)="OnUserLogout()">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Container -->
    <div class="col">
      <div class="container mt-3 mb-4">
        <div class="col-lg-14 mt-4 mt-lg-0">
          <div class="row">
            <div class="col-md-12">
              <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm rounded">
                <table class="table manage-students-top mb-0">
                  <!-- Your table content -->
                  <thead>
                    <tr>
                      <th class="text-center"><b>#</b></th>
                      <th class="text-center"><b>Student Name</b></th>
                      <th class="text-center"><b>Action</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="students-list" *ngFor="let Student of studentsList; let i = index">
                      <td>
                          {{i+1}}
                      </td>
                      <td class="title">
                      
                        <div class="student-list-details">
                          <div class="student-list-info">
                            <div class="student-list-title">
                              <h5 class="mb-0">anish</h5>
                            </div>
                            <div class="student-list-option">
                              <ul class="list-unstyled">
                                <li><i class="bi bi-info-circle-fill" style="font-size: 1rem; color:cornflowerblue;"></i><span class="badge badge-success" style="font-size: 0.7rem;">{{Student.proffesion}}</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="input-group mb-3 justify-content-center mt-3 mb-4">
                            <button type="button" class="btn btn-primary py-3"  [routerLink]="['/addMark', Student.id]">Add mark</button>
                            <button type="button" class="btn btn-warning py-3" [routerLink]="['/showMark', Student.id]">Show marks</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- Pagination -->
                <div class="row g-0 align-items-center pb-4 my-3">
                  <div class="col-sm-6">
                    <div><p class="mb-sm-0">Showing 1 to 10</p></div>
                  </div>
                  <div class="col-sm-6">
                    <div class="float-sm-end">
                      <ul class="pagination mb-sm-0">
                        <!-- Pagination links -->
                        <li class="page-item disabled">
                          <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                      </li>
                      <li class="page-item active"><a href="#" class="page-link">1</a></li>
                      <li class="page-item"><a href="#" class="page-link">2</a></li>
                      <li class="page-item"><a href="#" class="page-link">3</a></li>
                      <li class="page-item"><a href="#" class="page-link">4</a></li>
                      <li class="page-item"><a href="#" class="page-link">5</a></li>
                      <li class="page-item">
                          <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                      </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
